{% extends 'base.html.twig' %}

{% block header_holder %}{% endblock %}

{% block content %}
    <section class="works">
        <div class="container">
            <div class="row">
                <div class="col-12 wow fadeIn">
                    <h2 data-text="">Just a very small selection of what I did so far</h2>
                    <h6>Most of my work is under an NDA, or too old to mention or difficult to present with a few screenshots.</h6>
                </div>
                <div class="col-12 projects-area-js" retrieve-url="{{ path('get_projects') }}" page="1" stop-loading="false"></div>
            </div>
        </div>
    </section>
{% endblock %}