<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="format-detection" content="telephone=no">
        <meta name="HandheldFriendly" content="true"/>
        <title>Adrian Istrate - backend developer</title>
        <meta name="author" content="adrian istrate">
        <meta name="description" content="Adrian Istrate - backend developer">
        <meta name="keywords" content="adrian istrate, backend, symfony, react, mysql, redis, symfony2, symfony3, symfony4, symfony5">

        <!-- SOCIAL MEDIA META -->
        <meta property="og:description" content="Adrian Istrate">
        <meta property="og:image" content="">
        <meta property="og:site_name" content="Adrian Istrate">
        <meta property="og:title" content="Adrian Istrate">
        <meta property="og:type" content="website">

        <link rel="stylesheet" href="/error/style.css">
    </head>
    <body>
        <div id="main">
            <div class="fof">
                <h1>Error ...</h1>
            </div>
        </div>
    </body>
</html>